{
    "presets": [
        // JestがESモジュールを扱えるようにする
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ]
}